node_modules
lib/
/docs
/deployer/lib
version.json
runtimes.json
productionProjects.json
404.html
*.tgz
/oclif.manifest.json
/bin/nim
.nimbella
__deployer__.zip
changes.html
license.html
thirdparty-licenses.md
thirdparty-licenses.html
sensitiveNamespaces.json
*.bak
/dist/
/tmp/
/patches/
